{% extends 'todo/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}

    <div class="container">
        <div class="align-items-center">
            <h1 class="text-center mt-4">Your current Todo{{ todos.count|pluralize }}:</h1>

            {% for todo in todos %}

            {% if todo.important %}

            <div class="card border-danger bg-light text-center mt-3 mx-auto">

                <div class=" border-danger card-header justify-content-center">
                    <a href="{% url 'viewtodo' todo.id %}">

                        <h5 class="text-danger">
                            {% if todo.important %} <b> {% endif %} {{ todo.title }}
                                {% if todo.important %} </b> {%endif %}
                        </h5>

                    </a>
                </div>
                <div class=" justify-content-center card-body">
                    <p class="card-text">{% if todo.memo %} - {{ todo.memo|truncatechars:30 }} {% endif %}</p>
                </div>

            </div>


            {% else %}

            <div class="card border-dark bg-light text-center mt-3 mx-auto">

                <div class=" border-dark card-header justify-content-center">
                    <a href="{% url 'viewtodo' todo.id %}">

                        <h5 class="text-dark">
                            {% if todo.important %} <b> {% endif %} {{ todo.title }}
                                {% if todo.important %} </b> {%endif %}
                        </h5>

                    </a>
                </div>
                <div class=" justify-content-center card-body">
                    <p class="card-text">{% if todo.memo %} - {{ todo.memo|truncatechars:30 }} {% endif %}</p>
                </div>

            </div>

            {% endif %}


            {% endfor %}
        </div>
        {% endblock %}
</body>

</html>